@import '../../styles/main.scss';

.presentation {
  @include grid-child(1, 6);
  grid-row: 2;
  display: flex;
  flex-direction: column;

  &__heading {
    @include h1-large-uppercase;
  }

  &__intro {
    @include h1;
    margin-block-start: $spacing-xs;
  }

  &__text {
    @include feature-text;
    margin-block-start: $spacing-xxs;
  }

  @media (max-width: $breakpoint-tablet) {
    @include grid-child(1, 12);
  }
}
