@import '../../styles/main.scss';

.cv-page {
  @include content-width;
  @include grid;
  min-height: calc(100vh - #{$header-height});
  grid-template-rows: auto 1fr auto;
  margin-top: $header-height;

  &__heading {
    @include h1-large-uppercase;
  }
}
