@import '../../styles/main.scss';

.cv-swedish-page {
  min-height: 100vh;

  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
  }

  &__images {
    display: none;
  }

  .cv-swedish-page__images img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  @media (max-width: $breakpoint-tablet) {
    .cv-swedish-page__images {
      display: block;
    }

    .cv-swedish-page__iframe {
      display: none;
    }
  }
}
