@import '../../styles/main.scss';

.home-page {
  @include content-width;
  @include grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  margin-top: $header-height;

  @media (max-width: $breakpoint-tablet) {
    grid-template-rows: repeat(4, auto);
  }
}
