@import '../../styles/index.scss';

.navigation-menu {
  &__list {
    list-style-type: none;
    color: $color-text;
    font-size: 5.625rem;
  }

  &__item {
    text-transform: uppercase;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}
