@import '../../styles/main.scss';

.navigation-menu {
  @include grid-child(7, 6);
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__list {
    @include menu-text;
  }

  &__link {
    @include link-style;
    @include hover-effect;
  }

  @media (max-width: $breakpoint-tablet) {
    @include grid-child(1, 12);
    grid-row: 3;
    justify-content: flex-start;
  }
}
