@import '../../styles/main.scss';

/* //TODO: Add correct styling and mixin for label */
.button {
  background-color: transparent;
  border: 1px solid $color-blue;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
