@import '../../styles/main.scss';

.cv-intro {
  @include grid-child(1, 4);
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__heading {
    @include h1-large-uppercase;
  }

  @media (max-width: $breakpoint-tablet) {
    @include grid-child(1, 12);
  }
}
