@import '../../styles/main.scss';

.dropdown-menu {
  position: relative;
  display: inline-block;
  margin-block-end: $spacing-xxs;
  transition: height 0.3s ease-in-out;

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0; // Fully transparent
    position: fixed;
    background-color: $color-background;
    min-width: 100vw;
    z-index: 1;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out,
      visibility 0.4s;
  }

  &__content--open {
    opacity: 1;
    max-height: 30rem;
    transition-delay: 0s;
  }

  &__list {
    margin-block: $spacing-xs;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    @include dropdown-menu-text;
  }

  &__link {
    @include link-style;
    @include hover-effect;
  }
}
