@import '../../styles/main.scss';

.dropdown-menu {
  position: relative;
  display: inline-block;
  margin-block-end: $spacing-xxs;
  transition: height 0.3s ease-in-out;

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

  &__content {
    display: none;
    position: absolute;
    background-color: $color-background;
    min-width: 100vw;
    z-index: 1;
  }

  &__content--open {
    display: block;
  }

  &__list {
    @include menu-text;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: inherit;

    &:hover {
      transform: translateX(10px);
      transition: transform 0.3s ease-in-out;
    }
  }
}
