$breakpoint-medium-desktop: 1024px;
$breakpoint-small-desktop: 992px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;
$breakpoint-small-mobile: 480px;
$breakpoint-extra-small-mobile-plus: 391px;
$breakpoint-extra-small-mobile: 312px;
