@font-face {
  font-family: 'Crake Light';
  src: url('../fonts/crake-light-webfont.woff2') format('woff2'),
    url('../fonts/crake-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Crake Bold';
  src: url('../fonts/crake-bold-webfont.woff2') format('woff2'),
    url('../fonts/crake-bold-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
}

@font-face {
  font-family: 'Jost Italic';
  src: url('../fonts/Jost-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: italic;
}
