@import './mixins/content-width.scss';
@import './fonts.scss';

/* General colors */
$color-beige: #f7f2eb;
$color-blue: #1002c9;

/* Colors for background, text etc. */
$color-background: $color-beige;
$color-text: $color-blue;

/* Gutters */
$grid-gutter: 2.5rem; /* 40px */
$grid-gutter-small: 1.25rem; /* 20px */

/* Page margins */
$page-margin-large: 3.75rem; /* 60px */
$page-margin-medium: 2rem; /* 32px */
$page-margin-small: 1.5rem; /* 24px */

/* Spacing */
$spacing-xxxs: 0.5rem; /* 8px */
$spacing-xxs: 1rem; /* 16px */
$spacing-xs: 1.5rem; /* 24px */
$spacing-sm: 2rem; /* 32px */
$spacing-md: 3rem; /* 48px */
$spacing-lg: 4rem; /* 64px */
$spacing-xl: 6.25rem; /* 100px */
$spacing-xxl: 12.5rem; /* 200px */

/* Header height */
$header-height: 5.5rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: 'Crake Light', serif;
  line-height: 1.5;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $color-background;
  color: $color-text;
}
