@import '../../styles/index.scss';
@import '../../styles/mixins/grid.scss';
@import '../../styles/mixins/grid-child.scss';

.divider {
  height: 1px;
  background-color: $color-blue;
  max-width: 100%;
}
