@import '../../styles/index.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins/grid.scss';
@import '../../styles/mixins/grid-child.scss';
@import '../../styles/mixins/text-styles.scss';

.contact {
  @include grid-child(2, 6);
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__heading {
    @include h1-large;
  }

  &__text {
    @include feature-text;
    margin-block-start: $spacing-xxs;
  }

  &__email,
  &__internet {
    display: flex;
    flex-direction: row;
    margin-block-start: $spacing-xxs;
    gap: 0.5rem;

    &-text {
      @include feature-text;
    }

    &-address {
      @include highlight-text;
    }

    &-link {
      @include standard-link;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    @include grid-child(1, 12);
  }
}
