@import '../../styles/main.scss';

.header {
  @include content-width;
  padding-block-start: $spacing-sm;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: $color-background;
  height: 5.5rem; // add var for this later
  width: 100%;
}
