@import '../../styles/main.scss';

.intro {
  @include grid-child(2, 4);
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__name {
    @include h1;
  }

  &__job-title {
    @include feature-text;
    margin-block: $spacing-xxs;
  }

  @media (max-width: $breakpoint-tablet) {
    @include grid-child(1, 12);
    justify-content: flex-start;
  }
}
