@import '../../styles/index.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins/grid.scss';
@import '../../styles/mixins/grid-child.scss';
@import '../../styles/mixins/inner-grid.scss';
@import '../../styles/mixins/text-styles.scss';

.footer {
  @include grid-child(1, 12);
  margin-block-end: $spacing-xs;

  &__content {
    margin-block-start: $spacing-xs;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include body-text;
  }

  @media (max-width: $breakpoint-tablet) {
    &__content {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &__copyright {
      margin-block-start: $spacing-xs;
      text-align: left;
    }
  }
}
