@import '../../styles/index.scss';
@import '../../styles/mixins/grid.scss';
@import '../../styles/mixins/grid-child.scss';
@import '../../styles/mixins/inner-grid.scss';
@import '../../styles/mixins/text-styles.scss';

.footer {
  @include grid-child(1, 12);
  margin-block-end: $grid-gutter;

  &__content {
    margin-block-start: $spacing-xs;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    @include body-text;
  }

  &__copyright {
    text-align: center;
  }

  @media (max-width: 768px) {
    &__content {
      grid-template-columns: 1fr;
    }

    &__copyright {
      margin-block-start: $spacing-xs;
      text-align: left;
    }
  }
}
