@import '../../styles/main.scss';

.social-links {
  @include uppercase-link;
  display: flex;
  gap: $spacing-sm;

  &__link {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
  }

  &__icon {
    width: 11px;
    height: 11px;
  }
}
