@import '../../styles/main.scss';

.social-links {
  display: flex;
  align-items: baseline;
  gap: $spacing-xs;
  margin-block-start: $spacing-xxs;

  &__link {
    @include uppercase-link;
  }

  &__icon {
    width: 11px;
    height: 11px;
  }

  @media (max-width: $breakpoint-small-mobile) {
    margin-block-start: $spacing-xs;
    gap: $spacing-xxs;
    flex-direction: column;
  }
}
