/* Text */

@mixin h1-large {
  font-family: 'Crake Light', serif;
  font-weight: 300;
  font-size: 6.25rem; /* 100px */
  line-height: 1.2;
}

@mixin h1-large-uppercase {
  font-family: 'Crake Light', serif;
  font-weight: 300;
  font-size: 6.25rem; /* 100px */
  line-height: 1.2;
  text-transform: uppercase;
}

@mixin h1 {
  font-family: 'Crake Bold', serif;
  font-weight: 500;
  font-size: 2rem; /* 32px */
  line-height: 1.2;
}

@mixin menu-text {
  font-family: 'Crake Light', serif;
  font-weight: 300;
  font-size: 5.625rem; /* 90px */
  line-height: 1.2;
  text-transform: uppercase;
  list-style-type: none;

  @media (max-width: $breakpoint-small-mobile) {
    font-size: 4rem; /* 64px */
  }

  @media (max-width: $breakpoint-extra-small-mobile) {
    font-size: 3.375rem; /* 52px */
  }
}

@mixin dropdown-menu-text {
  font-family: 'Crake Light', serif;
  font-weight: 300;
  font-size: 3rem; /* 48px */
  line-height: 1.2;
  list-style-type: none;
}

@mixin body-text {
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  font-size: 1rem; /* 16px */
  line-height: 1.5;
}

@mixin feature-text {
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  font-size: 1.125rem; /* 18px */
  line-height: 1.5;
}

@mixin highlight-text {
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 1.125rem; /* 18px */
  line-height: 1.5;
  text-decoration: none;
  color: inherit;
}

@mixin button-text {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 1.5rem; /* 24px */
  line-height: 1.2;
  text-transform: uppercase;
  color: $color-text;
}

/* Links */

@mixin standard-link {
  @include underline-effect;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 1.125rem; /* 18px */
  line-height: 1.5;
  color: inherit;
  text-decoration: none;
}

@mixin uppercase-link {
  @include underline-effect;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 1rem; /* 16px */
  line-height: 1.5;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

@mixin link-style {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* Hover and underline effects for links */

@mixin underline-effect {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@mixin hover-effect {
  &:hover {
    transform: translateX(10px);
    transition: transform 0.3s ease-in-out;
  }
}
